/laravel/bootstrap/compiled.php
/laravel/vendor
/laravel/composer.phar
/laravel/composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
/nbproject
id
index_uuid
action_set_name
action_provision
synced_folders